In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
import statsmodels.api as sm
import scipy.stats as stats
from statsmodels.stats.outliers_influence import variance_inflation_factor as VIF

In [2]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\jainh\anaconda3\lib\site-packages (0.22.0)
Requirement already satisfied: setuptools in c:\users\jainh\anaconda3\lib\site-packages (from mlxtend) (63.4.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\jainh\anaconda3\lib\site-packages (from mlxtend) (3.5.2)
Requirement already satisfied: numpy>=1.16.2 in c:\users\jainh\anaconda3\lib\site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: pandas>=0.24.2 in c:\users\jainh\anaconda3\lib\site-packages (from mlxtend) (1.4.4)
Requirement already satisfied: scipy>=1.2.1 in c:\users\jainh\anaconda3\lib\site-packages (from mlxtend) (1.9.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\jainh\anaconda3\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\jainh\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\jainh\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in c:\users\jainh\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\jainh\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\jainh\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: cycler>=0.10 in c:\users\jainh\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\jainh\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\jainh\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jainh\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\jainh\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\jainh\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:

pd.set_option('display.max_rows',None)
df1=pd.read_csv('hRUoRL.csv')
df1.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
df=pd.DataFrame({'exprience':[1,2,4,  3,7,9,   5,10],
                    'salary': [3,4,5,  5,5,9,   9,12]})
df

   exprience  salary
0          1       3
1          2       4
2          4       5
3          3       5
4          7       5
5          9       9
6          5       9
7         10      12

In [5]:
X=df.drop('salary',axis=1)
X

   exprience
0          1
1          2
2          4
3          3
4          7
5          9
6          5
7         10

In [6]:
y=df['salary']
y

0     3
1     4
2     5
3     5
4     5
5     9
6     9
7    12
Name: salary, dtype: int64

In [12]:
xbar=np.mean(X.exprience)          ####################################################### must write in (X.exprience)
ybar=np.mean(y)
b1=np.sum((X.exprience-xbar)*(y-ybar))/np.sum((X.exprience-xbar)**2)
b1

0.8080133555926544

In [20]:
# xbar=np.mean(X)           @##############################     ###################### # dont write this way throwing NAN values
# ybar=np.mean(y)
# b1=np.sum((X-xbar)*(y-ybar))/np.sum((X-xbar)**2)
# b1

In [13]:
b0=ybar-b1*xbar
print('b0',b0)

b0 2.358931552587646

In [14]:
b0=ybar-b1*xbar
print('b0',b0)

b0 2.358931552587646

In [19]:
ypred=b0+b1*X.exprience
ypred

0     3.166945
1     3.974958
2     5.590985
3     4.782972
4     8.015025
5     9.631052
6     6.398998
7    10.439065
Name: exprience, dtype: float64

In [23]:
############################################################### using built in fun 
import statsmodels.api as sm     ########################################################## liblary 

X=df.drop('salary',axis=1)
y=df['salary']
Xc=sm.add_constant(X)
ols_model=sm.OLS(y,Xc).fit()
ols_model.params ########################################################################## first value b0 second value b1
y_pred= ols_model.params[0]+ols_model.params[1]*X.exprience          ############################## formula b0+b1*x.exprience
y_pred= ols_model.predict(Xc)                                        ####################### using .predict
y_pred=ols_model.fittedvalues                                    ########################### using .fittedvalues

In [28]:
#  calculate SSR , SSE (sum of square of error) , SST , R2 , adj R2 , f_stat , t_stat
SSE=np.sum((y-y_pred)**2)
SSR=np.sum((y_pred-ybar)**2)
SST=np.sum((y-ybar)**2)
R2=SSR/SST
# Calculate Adj R2
n=8
k=1
adj_r2=1-(1-R2)*(n-1)/(n-k-1)
adj_r2


print('R2',R2)
print('adj_r2',adj_r2)

print('SSR',SSR)
print('SSE',SSE)
print('SST',SST)

R2 0.7188942354905246
SSR 48.884808013355666
SSE 19.11519198664441
SST 68.0

In [ ]:
#  calculate pval